.footer {
  margin: 120px 170px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.footer-text {
  margin: 10px;
}
.footer-text p {
  color: #d8d8d8;
  font-size: 20px;
  max-width: 400px;
}
@media (max-width: 768px) {
  .footer {
    margin: 50px 70px;
  }
}
